{% load static %}
<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <!--[if IE]><link rel="icon" href="/favicon.ico"><![endif]-->
    <title>Verification</title>
    <script src=https://sdk.monnify.com/plugin/monnify.js></script>
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css>
    <link href="{% static 'dist/css/app.css'%}" rel=preload as=style>
    <link href="{% static 'dist/css/chunk-vendors.css'%}" rel=preload as=style>
    <link href="{% static 'dist/js/app.js'%}" rel=preload as=script>
    <link href="{% static 'dist/js/chunk-vendors.js'%}" rel=preload as=script>
    <link href="{% static 'dist/css/chunk-vendors.css'%}" rel=stylesheet>
    <link href="{% static 'dist/css/app.css'%}" rel=stylesheet >
    <link rel=icon type=image/png sizes=32x32 href="{% static 'dist/favicon.ico'%}">
    <link rel=icon type=image/png sizes=16x16 href="{% static 'dist/favicon.ico'%}">
    <link rel=manifest href="{% static 'dist/manifest.json'%}">
    <meta name=theme-color content=#0067d5>
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=#0067d5>
    <meta name=apple-mobile-web-app-title content=Taonethealth>
    <link rel=apple-touch-icon href="{% static 'dist/img/icons/favicon-152x152.png'%}">
    <link rel=mask-icon href="{% static 'dist/img/icons/favicon.svg'%}" color=#4DBA87>
    <meta name=msapplication-TileImage content="{% static 'dist/img/icons/favicon-144x144.png'%}">
    <meta name=msapplication-TileColor content=#000000>
</head>

<body><noscript><strong>We're sorry but taonethealth doesn't work properly without JavaScript enabled. Please enable it
            to continue.</strong></noscript>
    <div id=app></div>
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>
    
    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>
    
    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "105639491485155");
        chatbox.setAttribute("attribution", "biz_inbox");
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v10.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="{% static 'dist/js/chunk-vendors.js'%}"></script>
    <script src="{% static 'dist/js/app.js'%}"></script>
</body>

</html>